.tabs_wrap {
  width: 92%;
  margin-top: 30px;
}

.nav.nav-tabs .nav-link {
  color: black;
  background-color: #FFF6EC;
  border: 1px solid #FFF6EC;
}

.nav.nav-tabs .nav-link:hover {
  border: 1px solid #FFF6EC;
}

.nav.nav-tabs .nav-link.active {
  color: black;
  font-weight: bold;
  background-color: #FFEAD2;
  border: 1px solid #FFEAD2;
}

.tab-content {
  width: 92%;
  height: 70%;
  background-color: #FFEAD2;
  border-radius: 0px 0px 15px 15px;
}