#community {
  width: 70%;
  margin: auto;
}
.community__banner {
  display: flex;
}
.com-img {
  width: 400px;
  height: 200px;
}
.community__info {
  display: flex;
}
.community__info__support {
  width: 300px;
  margin-right: 20px;
}
.community__info__support__title {
  display: flex;
  justify-content: space-between;
}
.community__info__share {
  width: 300px;
  margin-right: 20px;
}
.community__info__share__title {
  display: flex;
  justify-content: space-between;
}
.community__info__request {
  width: 300px;
  margin-right: 20px;
}
.community__info__request__title {
  display: flex;
  justify-content: space-between;
}
.plus-icon {
  width: 20px;
  height: 20px;
}
