#main {
  height: 100vh;
  overflow: hidden !important;
}
.trans-left-img {
  position: absolute;
  top: 0;
  width: 60vw;
  object-position: 50% 50%;
  height: 150vh;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
  overflow: hidden;
}

.trans-left-img__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trans-right-img {
  position: absolute;
  top: 0;
  width: 60vw;
  object-position: 50% 50%;
  height: 150vh;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
  overflow: hidden;
}

.trans-right-img__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trans-clip {
  background-size: 12000% 12000%;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  background: radial-gradient(circle at center, transparent 1%, #103a3a 0);
  background-image: radial-gradient(
    circle at center center,
    transparent 1%,
    rgb(16, 58, 58) 0px
  );
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 12000% 12000%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.trans-clip-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #103a3a;
  transition: all 0.2s ease;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main-header {
  opacity: 1;
  will-change: auto;
  transform: translate(0px, 0px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.header__container {
  margin: auto;
  width: 100vw;
  max-width: 100%;
}

.header__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-ground {
  display: flex;
  height: 100vw;
  background-color: aliceblue;
}
.ground-left {
  width: 50vw;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  flex: 0 1 50vw;
}
.ground-right {
  width: 50vw;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  flex: 0 1 50vw;
}
