#main {
  height: 100vh;
  overflow: hidden !important;
}
.trans-left-img {
  position: absolute;
  top: 0;
  width: 60vw;
  object-position: 50% 50%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
  overflow: hidden;
  left: 0;
}

.trans-left-img__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trans-right-img {
  position: absolute;
  top: 0;
  width: 60vw;
  object-position: 50% 50%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
  overflow: hidden;
  right: 0;
}

.trans-right-img__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trans-clip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  background: radial-gradient(circle at center, transparent 1%, #103a3a 0);
  background-size: 12000% 12000%;
  background-position: 50% 50%;
}

.trans-clip-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #103a3a;
  transition: all 0.2s ease;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
}

.main-header {
  opacity: 1;
  will-change: auto;
  transform: translate(0px, 0px);
  position: fixed;
  top: 40%;
  left: -1%;
  z-index: 11;
}

.header__container {
  margin: auto;
  width: 100vw;
  max-width: 100%;
}

.header__head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vw;
}

/* transform: rotate(720deg); */

.header__head-circle.--active {
  transform: translate(-50%, -200%);
  transition: all 1s ease;
}

.header__head-circle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 1s;
}

.header__head-circle-in {
  border-radius: 50%;
  background-color: white;
  width: 14vw;
  height: 14vw;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 4px solid #ffa07a;
}

.head-circle-logo {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 12vw;
  height: 12vw;
}

.main-ground {
  display: flex;
  height: 100vh;
  background-color: aliceblue;
}

.main-ground.--active .ground-left,
.main-ground.--active .ground-left:hover,
.main-ground.--active .ground-right,
.main-ground.--active .ground-right:hover {
  width: 25vw;
  flex: 0 0 30vw;
}

.main-ground.--active .middle-menu {
  width: 0vw;
}

.ground-left {
  width: 50vw;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
  flex: 0 1 50vw;
}

.ground-left:hover,
.ground-right:hover {
  width: 60vw;
  flex: 0 0 60vw;
}

.ground-left__img-wrapper {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 75vw;
  object-position: 50% 50%;
  height: 150vh;
  object-fit: cover;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.ground-left__img-wrapper:hover {
  transform: translateX(-50%);
}

.ground-left__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .ground-left__img:hover {
  transform: translate(-50%, -50%);
} */

.middle-menu {
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 3;
  overflow: hidden;
  transition: all 3s ease;
  display: flex;
  animation: fadeout 2s;
}

.middle-menu.--active {
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.middle-menu__analysis {
  position: absolute;
  top: 30%;
  left: 0.5vw;
  width: 12vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6347;
}

.middle-menu__ranking {
  position: absolute;
  top: 50%;
  right: 0.5vw;
  width: 12vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7f50;
}

.middle-menu__analysis-title,
.middle-menu__ranking-title {
  display: flex;
  font-size: 32px;
  color: azure;
  font-weight: bold;
}

.middle-menu__analysis-description {
  position: absolute;
  top: 44%;
  left: 0.5vw;
  color: #ff6347;
  font-size: 20px;
  font-weight: bold;
}

.middle-menu__ranking-description {
  position: absolute;
  top: 64%;
  right: 0.5vw;
  color: #ff7f50;
}

.middle-menu__user {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-weight: bold;
}

.middle-menu__user-login {
  margin-right: 40px;
}

.middle-menu__user-login__link,
.middle-menu__user-join__link {
  color: #ff7f50;
  text-decoration: none;
}

.middle-menu__user-login__link:hover,
.middle-menu__user-join__link:hover {
  color: #8b0000;
}

.ground-right {
  width: 50vw;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 2s ease;
  flex: 0 1 50vw;
  align-items: center;
}

.main-container .middle-menu {
  flex: auto;
}

.ground-right__img-wrapper {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 75vw;
  object-position: 50% 50%;
  height: 150vh;
  object-fit: cover;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.ground-right__img {
  width: 100vw;
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ground-left__title {
  z-index: 5;
  position: absolute;
  top: 15%;
}
.ground-right__title {
  z-index: 5;
  position: absolute;
  bottom: 15%;
}

.ground-left__title > h1,
.ground-right__title > h1 {
  font-size: 6vw;
  color: aliceblue;
  font-weight: bold;
}

.ground-right__admin {
  z-index: 5;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.ground-right__admin > h4 {
  font-size: 2vw;
  color: aliceblue;
}
