/* .login_background {
  background-color: blue;
  height: 100vw;
  width: 100vh;
} */

.signin-div {
  width: 450px;
  min-width: 450px;
  height: 600px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto auto auto;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  box-shadow: 1px 2px 2px #592941;
  border: 0.1em solid #592941;
  border-radius: 0.5em;
}

.signinform {
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  /* height: 100%; */
  text-align: center;
}

.signintitle {
  font-weight: bold;
  font-size: large;
  margin: 0;

}

.title-h1 {
  font-weight: bold;
  margin: 20px;
  padding: auto auto 20px 20px;
  font-size: 42px;
}

.title-h1:hover {
  font-size: 42px;

}

input {
  background-color: #E8F0FE;
  border: none;
  padding: 12px 15px;
  margin: 8px 8px;
  width: 100%;
}

.signinButton {
  margin: 30px 0 5px 0;
  width: 100px;
  width: auto;
  color: black;
  background-color: #FBD8AF;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 95px;
  font-size: 18px;
  font-weight: bold;
}

.signinButton:hover {
  margin: 30px 0 5px 0;
  width: 126px;
  width: auto;
  color: black;
  background-color: #FBD8AF;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 108px;
  font-size: 20px;
  font-weight: bold;
}

.kakaologinimg {
  width: 244px;
  height: 47px;
}

.kakaologinimg:hover {
  width: 280px;
  height: 70x;
}

.gosignup {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 0 0;
  align-self: start;
  padding: 15px 50px;
  width: 100%;
}

.gosignupLink:hover {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}




/* .kakaosignin {
  border-radius: 10px;
  border: 1px solid white;
  background-color: yellow;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
} */